body {
    font-family: Arial, sans-serif;
    background-color: #174479;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    max-width: 700px;
    margin: 190px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  h1 {
    text-align: center;
  }
  
  .search-form {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-form label {
    margin-right: 10px;
  }
  
  .search-form input[type="text"] {
    padding: 8px;
    width: 200px;
  }
  
  .search-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .search-form button:hover {
    background-color: #0056b3;
  }
  
  .buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#voltar{
  text-decoration: none;
  color: #ffff
  ;
}

  button:hover {
    background-color: #0056b3;
  }