body {
    font-family: Arial, sans-serif;
    background-color: #174479;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    margin: 20px 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.chart-container {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

#dashboard {
    margin-top: 20px;
    width: 100%;
}

.product {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.product-info {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #voltar{
  text-decoration: none;
  color: #ffff
  ;
  }
  
  button:hover {
    background-color: #0056b3;
  }