body {
  font-family: Arial, sans-serif;
  background-color: #174479;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1430px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.chart-container {
  display: inline-block;
  margin: 30px 0;
  height: 150px;
  width: 150px;
  align-items: center;
}

.product {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.product-info > div {
  padding: 5px;
}

.product-info > div:nth-child(odd) {
  background-color: #f2f2f2;
}

.consumir {
  margin-top: 10px;
}

.consumir label {
  font-weight: bold;
}

.consumir input {
  padding: 5px;
  width: 150px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#voltar{
text-decoration: none;
color: #ffff
;
}

button:hover {
  background-color: #0056b3;
}