* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00009C;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 70px;
    color: #ffff;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card  {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; 
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}


.card:hover {
    transform: translateY(-5px);
}

button {
    padding: 10px 20px;
    margin-right: -90%;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
#voltar{
    text-decoration: none;
    color: #ffff
    ;
  }

#return{
    width: 112px;
}


