body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.login-container {
    background-color: #00009C;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #ffff;
    text-align: center;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffff;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 50%;
    padding: 10px;
    font-size: 19px;
    background-color: #F4F4F4;
    color: rgb(186, 181, 181);
    border: none #010101;
    border-color: #010101;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #F20DE7;
    color: #fffcfc;
}


#error-msg {
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.cadastro{
    text-align: center;
    color: #ffff;
}

#link{
    color: #ffff;
    text-decoration: none;
}

#entrar{
    text-decoration: none;
    color: #312e2e;
  }


  #entrar:hover{
    color: #ffff;
  }