body {
    font-family: Arial, sans-serif;
    background-color: #00009C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 380px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #007bff;
    color: white;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


#voltar{
    text-decoration: none;
    color: #ffff;
  }