body {
    font-family: Arial, sans-serif;
    background-color: #00009C;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    max-width: 700px;
    margin: 190px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  h1 {
    text-align: center;
  }
  
  .search-form {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-form label {
    margin-right: 10px;
  }
  
  .search-form input[type="text"] {
    padding: 8px;
    width: 200px;
  }
  
  .search-form button {
    padding: 8px 16px;
    background-color: #F20DE7;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  input {
    width: calc(84% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

  
  .search-form button:hover {
    background-color: #F20DE7;
  }
  
  .buttons {
    text-align: center;
    margin-top: 20px;
  }
  


  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #adb1b5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #F20DE7;
    color: #fffcfc;
  }
  

#voltar{
  text-decoration: none;
  color: #ffff
  ;
}

  @media (max-width: 640px) {
    .container {
      max-width: 432px;
      margin: 144px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } 
  button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: #adb1b5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #F20DE7;
    color: #fffcfc;
  }
  
  #consultar {
    padding: 14px 7px;
    margin-right: -7px;
    margin-top: -2px;
    border: none;
    background-color: #adb1b5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#consultar:hover {
  background-color: #F20DE7;
  color: #fffcfc;
}

}