body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 2rem;
}

header {
    background-color: #00009C;
    color: white;
    padding: 1rem;
    text-align: center;
}

.content {
    margin-top: 1rem;
}

.summary {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.card {
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 26%;
}

.card h3 {
    margin: 0;
    color: #333;
}

.card p {
    font-size: 1.5rem;
    color: #333;
}

.user-table {
    margin-top: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

button {
    padding: 0.7rem 1.5rem;
    background-color: #f4f4f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f519ea;
}

h2{
    text-decoration: none;
    color: black;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* #voltar{
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    color: #ffff;
  } */


  @media (max-width: 640px) {
    .card {
        background-color: #f1f1f1;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        text-align: center;
        width: 26%;
        margin-top: 6vh;
    }

    h2 {
        text-decoration: none;
        color: black;
        margin-top: -2vh;
        margin-right: -11vh;
    }
    
    body{
        overflow-x: hidden;
    }
}
